$desktop: 960px;

.cover-main {
    img {
        max-width: 15vw;
    }
}

.app-name-link {
    img {
        max-width: 40%;
    }    
}

.markdown-section {
    @media screen and (min-width: $desktop) {
        max-width: 60vw !important;
    }
}
